@inject AppConfiguration AppConfiguration
@{
    ViewData["HzyAdminUIPath"] = "/admin/hzyAdminUI/";
}

<!DOCTYPE html>
@* class="animation-fade" *@
<html lang="zh">
<head>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?90d9b1016c84f436fc9b4b318f5a0ff9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <meta name="keywords" content="hzyadmin,hzy,HZY,HZY.AdminRazor,hzyadminspa,HZY.AdminSpa">
    <meta charset="UTF-8">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--兼容问题-->
    <!--<script src="~/admin/libs/ie/browser.min.js"></script>
    <script src="~/admin/libs/ie/polyfill.min.js"></script>-->
    <title>HzyAdminRazor 代码生成器</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <!--菜单-->
    <link href="@ViewData["HzyAdminUIPath"]libs/metismenu-master/metisMenu.min.css" rel="stylesheet"/>
    <!--web icons 图标库-->
    <link href="@ViewData["HzyAdminUIPath"]css/web-icons-master/css/web-icons.css" rel="stylesheet"/>
    <!--样式-->
    <link href="@ViewData["HzyAdminUIPath"]css/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="@ViewData["HzyAdminUIPath"]css/bootstrap.min.css" rel="stylesheet"/>
    <link href="@ViewData["HzyAdminUIPath"]css/core.css" rel="stylesheet"/>
    <link href="@ViewData["HzyAdminUIPath"]css/site.css" rel="stylesheet"/>
    <!--选项卡-->
    <link href="@ViewData["HzyAdminUIPath"]libs/hzyBootStrapTabs/index.css" rel="stylesheet"/>
    <!--主页面-->
    <link href="@ViewData["HzyAdminUIPath"]css/hzyAdminUI.css" rel="stylesheet"/>
    <!--element ui-->
    <link rel="stylesheet" href="~/admin/libs/elementui/lib/theme-chalk/index.css">
    <!--框架样式-->
    <link href="~/admin/css/hzyAdmin.css" rel="stylesheet"/>
    @RenderSection("Styles", required: false)
</head>
<body>

@RenderBody()

<!--脚本-->
<script src="@ViewData["HzyAdminUIPath"]libs/jquery/jquery-3.2.1.min.js"></script>
<!--qs-->
<script src="~/admin/libs/qs/dist/qs.js"></script>
<!--jquery bolb 文件下载扩展-->
<script src="~/admin/libs/axios.min.js"></script>
<!---->
<script src="@ViewData["HzyAdminUIPath"]libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--metisMenu 菜单-->
<script src="@ViewData["HzyAdminUIPath"]libs/metismenu-master/metisMenu.min.js"></script>
<!--选项卡-->
<script src="@ViewData["HzyAdminUIPath"]libs/hzyBootStrapTabs/index.js"></script>
<!--主页面-->
<script src="@ViewData["HzyAdminUIPath"]js/hzyAdminUI.js"></script>
<!-- vue -->
<script src="~/admin/libs/vue.js"></script>
<!--element ui-->
<script src="~/admin/libs/elementui/lib/index.js"></script>
<!--layer 弹框插件-->
<script src="~/admin/libs/layer/layer.js"></script>
<!-- hzyAdmin -->
<script src="~/admin/js/hzyAdmin.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>